.light {
  --background-color: #effffd;
  --background-color-accent: #b8fff9;
  --text-color-in-dark-bg: #effffd;
  --text-color-in-light-bg: black;
  --hero-title-background: #7fffd6;
  --hero-title-background-before: #95efce;
  --pnj-span-color: #00aeff;
  --title-color: #3e467f;
  --title-background: #1ee3cf;
  --title-background-before: #1f8ea3;
  --section-desc-color: #395ea6;
  --section-shadow: #d1ebe7;
  --link-color: #effffd;
  --link-background: #2ea1d9;
  --link-background-before: #42c2ff;
  --card-background: #2999b0;
  --card-title-background: #12efd9;
  --card-name-background: rgba(117, 117, 117, 0.3);
}

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  right: 2vw;
  top: 10px;
  padding: 0.45em 0.7em;
  border-radius: 100px;
  background-color: var(--background-color);
  z-index: 3;
  opacity: 0.8;
}

.nav:hover {
  opacity: 1;
}

.nav-list {
  display: none;
  transition: 300ms ease;
}

.nav-item {
  margin-inline: 0.5em;
  display: flex;
  list-style: none;
  background-color: var(--link-background);
  padding: 0.3em 0.65em;
  border-radius: 50px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
  color: var(--link-color);
  font-size: clamp(0.7rem, 3vw, 1.2rem);
}

.nav-theme,
.nav-toggle {
  display: flex;
  transform: rotate(180deg);
  transition: 300ms ease;
}

.nav-toggle {
  margin-inline: 0.4em;
}
.nav-toggle img {
  width: clamp(9px, 2vw, 12px);
}

.nav-theme {
  margin-left: 0.55em;
}
.nav-theme img {
  width: clamp(25px, 3vw, 30px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin-inline: auto;
  position: relative;
}

.title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: clamp(1.5rem, 5vw, 2rem);
  padding: 0.1em 0.3em;
  color: var(--title-color);
  background-color: var(--title-background);
  position: relative;
}

.title::before {
  position: absolute;
  content: "";
  top: 4px;
  bottom: -4px;
  right: 4px;
  left: -4px;
  background-color: var(--title-background-before);
  z-index: -1;
}

.paragraph {
  margin-top: 1em;
  color: var(--section-desc-color);
  font-weight: 600;
  font-size: clamp(1rem, 4vw, 1.5rem);
  line-height: 1.5;
}

.name {
  background-color: var(--card-name-background);
  color: var(--text-color-in-dark-bg);
  padding: 0.3em 0.5em;
  border-radius: 5px;
  margin-top: 0.4em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-weight: 600;
  font-size: clamp(1rem, 4vw, 1.5rem);
  text-align: center;
  text-transform: none;
}

/* ======================
   == HELVETICA FAMILY ==
   ====================== */
h1,
h2,
h3 {
  font-family: "HELVETICA";
  text-transform: uppercase;
}

.hero-section {
  background-color: var(--background-color-accent);
  text-align: center;
  position: relative;
  z-index: -2;
  display: flex;
  height: 60vh;
}
.hero-section .container {
  align-self: center;
}
.hero-section .title {
  color: var(--title-color);
  font-size: clamp(2.5rem, 10vw, 4rem);
  margin-inline: auto;
}
.hero-section .title,
.hero-section .title::before {
  background-color: transparent;
}

.motto {
  margin-top: 1em;
  font-weight: 600;
  color: var(--title-color);
  width: 60%;
  margin: 1.2em auto 0;
  text-transform: uppercase;
  font-style: italic;
  font-size: clamp(1.3rem, 3.5vw, 1.7rem);
}

.sahabat,
.pnj {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  background-color: var(--hero-title-background);
  padding-inline: 0.2em;
  position: relative;
}

.pnj {
  color: var(--pnj-span-color);
  margin-top: 0.15em;
}

.sahabat::before,
.pnj::before {
  position: absolute;
  content: "";
  top: 5px;
  bottom: -5px;
  right: 5px;
  left: -5px;
  background-color: var(--hero-title-background-before);
  z-index: -1;
}

.about-section {
  display: flex;
  height: clamp(30vh, 47vw, 40vh);
}
.about-section .container {
  align-self: center;
}

@media (max-width: 320px) {
  .about-section {
    height: calc(75vh - 110vw);
  }
}
.organizer-section {
  height: 105vw;
  max-height: 576px;
  display: flex;
}
.organizer-section .container {
  display: flex;
  align-self: center;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}
.organizer-section .container::-webkit-scrollbar {
  display: none;
}
.organizer-section .slide {
  display: flex;
  position: relative;
  z-index: 0;
}
.organizer-section .slide + .slide {
  margin-left: 4vw;
}

.card + .card {
  margin-left: 4vw;
}

.card {
  padding-inline: 0.2em;
  width: 80vw;
  height: 95vw;
  max-width: 378px;
  max-height: 473px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.card .socmed-container {
  position: absolute;
  right: 15%;
  bottom: 10px;
}
.card .profile-picture {
  width: 90%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.7);
}

.name_and_role {
  position: absolute;
  bottom: 13px;
  color: var(--link-color);
  width: 90%;
  padding-left: 0.5em;
  z-index: 0;
}

.role {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 60%;
  color: var(--text-color-in-dark-bg);
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: clamp(1.3rem, 3.5vw, 1.7rem);
}

.socmed-link {
  display: flex;
  flex-direction: column;
}
.socmed-link img {
  width: clamp(30px, 7vw, 45px);
  margin-top: 0.7em;
  margin-bottom: 0.2em;
}

.slide:first-child .card:first-child {
  margin-left: 10vw;
}

.slide:last-child .card:last-child {
  margin-right: 3vw;
}

.division-navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  margin-left: 4vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  background-color: var(--link-color);
  padding-block: 0.45em;
  z-index: 2;
  transition: 200ms ease;
}
.division-navigation .arrow-nav {
  width: clamp(9px, 2vw, 12px);
  height: auto;
}
.division-navigation .arrow-back {
  display: none;
  margin-left: 0.8em;
}
.division-navigation .arrow-forward {
  display: flex;
  align-self: center;
  margin-right: 0.8em;
}
.division-navigation .options {
  margin-inline: 0.8em;
  position: relative;
}
.division-navigation .options .option {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--link-background);
  font-size: clamp(1rem, 4vw, 1.5rem);
}
.division-navigation .options .option + .option {
  display: none;
}

.division-section {
  padding-block: 2em;
  background-color: var(--background-color-accent);
  position: relative;
}
.division-section .container {
  overflow-x: hidden;
  width: 100%;
}
.division-section .overflowing-container {
  width: 300%;
  display: flex;
}
.division-section .slide {
  transition: 300ms ease;
  padding-inline: 1.5em;
  width: 100%;
}

.overview-sub-section .subject-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.overview-sub-section .subject {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.3rem;
  font-weight: bolder;
  background-color: var(--hero-title-background);
  color: var(--title-color);
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 10px;
}
.overview-sub-section .subject + .subject {
  margin-left: 1em;
}

.senior-sub-section {
  margin-top: 3em;
}
.senior-sub-section .profile-box {
  background-color: var(--hero-title-background-before);
  width: clamp(230px, 100%, 400px);
  margin-top: 2em;
  text-align: center;
  padding: 1em;
  border-radius: 20px;
}
.senior-sub-section .profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid var(--card-name-background);
  margin-bottom: 1em;
}
.senior-sub-section .name {
  text-transform: none;
  background-color: transparent;
  font-weight: 600;
  margin-inline: auto;
}
.senior-sub-section .name,
.senior-sub-section .paragraph {
  color: var(--card-background);
}

.project-sub-section {
  margin-top: 3em;
}
.project-sub-section .grid-container {
  margin-top: 2.5em;
}
.project-sub-section .grid-container .grid-span-col-2 {
  grid-column: span 2;
}
.project-sub-section .grid-container .grid-span-row-2 {
  grid-column-start: 2;
  grid-row: 1/span 2;
}

.project-img {
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.6);
}

.project-name {
  color: var(--text-color-in-dark-bg);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 1px;
  font-size: clamp(1.3rem, 3.5vw, 1.7rem);
}

.project-item {
  position: relative;
  min-height: 200px;
  display: flex;
  overflow: hidden;
  margin-top: 1em;
  border-radius: 15px;
}

.project-item:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--link-background);
}

.project-text-content {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  text-align: left;
  padding-inline: 0.7em 0.5em;
  width: 100%;
}
.project-text-content .name {
  max-width: 55%;
}
.project-text-content .detail-button {
  font-size: clamp(1rem, 4vw, 1.5rem);
  position: absolute;
  text-decoration: none;
  background-color: var(--link-background);
  color: var(--link-color);
  padding: 0.3em 0.7em;
  border-radius: 5px;
  font-weight: 600;
  border-radius: 20px;
  right: 9px;
  bottom: 0;
}

@media (min-width: 600px) {
  .division-navigation {
    margin-inline: auto;
  }

  .sub-section {
    width: 85%;
    max-width: 450px;
    margin-inline: auto;
    margin: 0;
  }

  .division-section .slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3em;
  }
  .division-section .title,
.division-section .profile-box,
.division-section .paragraph {
    margin-inline: auto;
    text-align: center;
  }
  .division-section .subject-list {
    justify-content: center;
  }
  .division-section .project-sub-section {
    width: 100%;
    max-width: 900px;
  }
  .division-section .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
  }

  .project-item {
    margin: 0;
  }

  .project-text-content .name,
.project-text-content .detail-button {
    font-size: clamp(0.7rem, 3vw, 1.2rem);
  }
  .project-text-content .name {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .project-name {
    font-size: clamp(1rem, 4vw, 1.5rem);
  }
}
@media (min-width: 768px) {
  .sub-section {
    width: 50%;
  }
}
.registration-gate-section {
  height: auto;
  position: relative;
  z-index: -2;
}
.registration-gate-section .container {
  min-height: 75vw;
  display: flex;
  width: 100%;
  position: relative;
}

.gate-link {
  text-align: center;
  position: relative;
  margin: auto;
  background-color: var(--link-background);
  color: var(--link-color);
  padding-block: 0.4em;
  display: flex;
  align-items: center;
  width: clamp(200px, 75%, 300px);
  font-size: clamp(1.5rem, 5vw, 2rem);
}

.gate-link::before {
  position: absolute;
  background-color: var(--link-background-before);
  content: "";
  top: -8px;
  bottom: -8px;
  right: 8px;
  left: 8px;
}

.mascot-list {
  position: absolute;
  display: flex;
  z-index: -2;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.division-mascot:first-child,
.division-mascot:last-child {
  display: none;
}

.division-mascot {
  width: clamp(250px, 50vw, 350px);
}

@media (min-width: 600px) {
  .division-mascot:first-child,
.division-mascot:last-child {
    width: clamp(100px, 20vw, 200px);
    display: block;
  }
}
.footer-section {
  background-color: var(--background-color);
  height: auto;
  padding-block: 2em;
  position: relative;
  z-index: 1;
}
.footer-section .form {
  margin-block: 1em;
}
.footer-section .form-data {
  position: relative;
  max-width: 500px;
}
.footer-section input,
.footer-section textarea {
  width: 60%;
  margin-block: 0.6em;
  resize: none;
  padding: 0.5em;
  font-size: clamp(1rem, 4vw, 1.5rem);
  border-radius: 4px;
  border: 1px solid var(--link-background-before);
  background-color: var(--background-color);
  transition: 200ms ease;
  font-family: inherit;
}
.footer-section input:focus,
.footer-section textarea:focus {
  width: 70%;
  outline: 1px solid var(--link-background);
  border: 1px solid var(--link-background);
  transition: 200ms ease;
}
.footer-section label {
  position: absolute;
  transform: translateY(90%);
  left: 5px;
  font-size: clamp(1rem, 4vw, 1.5rem);
  background-color: var(--background-color);
  padding-inline: 0.3em;
  transition: 200ms ease;
  font-weight: 600;
  color: var(--section-desc-color);
  border-radius: 50px;
}
.footer-section input:not(:-moz-placeholder-shown):not(:focus) ~ label, .footer-section textarea:not(:-moz-placeholder-shown):not(:focus) ~ label {
  -moz-transition: 200ms ease;
  transition: 200ms ease;
  font-size: clamp(0.7rem, 3vw, 1.2rem);
  transform: translateY(20%);
}
.footer-section input:not(:-ms-input-placeholder):not(:focus) ~ label, .footer-section textarea:not(:-ms-input-placeholder):not(:focus) ~ label {
  -ms-transition: 200ms ease;
  transition: 200ms ease;
  font-size: clamp(0.7rem, 3vw, 1.2rem);
  transform: translateY(20%);
}
.footer-section input:focus ~ label,
.footer-section input:not(:placeholder-shown):not(:focus) ~ label,
.footer-section textarea:not(:placeholder-shown):not(:focus) ~ label,
.footer-section textarea:focus ~ label {
  transition: 200ms ease;
  font-size: clamp(0.7rem, 3vw, 1.2rem);
  transform: translateY(20%);
}
.footer-section .socmed-list {
  display: flex;
  margin-block: 1em;
}
.footer-section .socmed-link {
  margin-right: 1em;
}
.footer-section .socmed-link img {
  width: 50px;
}

@media (min-width: 600px) {
  .footer-section .container {
    display: flex;
    justify-content: space-between;
  }
  .footer-section .form-sub-section {
    min-width: 370px;
    flex-grow: 1;
    flex-shrink: 0;
  }
}/*# sourceMappingURL=main.css.map */