.light {
  --background-color: #effffd;
  --background-color-accent: #b8fff9;
  --text-color-in-dark-bg: #effffd;
  --text-color-in-light-bg: black;
  --hero-title-background: #7fffd6;
  --hero-title-background-before: #95efce;
  --pnj-span-color: #00aeff;
  --title-color: #3e467f;
  --title-background: #1ee3cf;
  --title-background-before: #1f8ea3;
  --section-desc-color: #395ea6;
  --section-shadow: #d1ebe7;
  --link-color: #effffd;
  --link-background: #2ea1d9;
  --link-background-before: #42c2ff;
  --card-background: #2999b0;
  --card-title-background: #12efd9;
  --card-button-background: rgba(117, 117, 117, 0.3);
}

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  right: 2vw;
  top: 10px;
  padding: 0.3em 0.7em;
  border-radius: 100px;
  background-color: var(--background-color);
  z-index: 2;
  opacity: 0.8;
}

.nav:hover {
  opacity: 1;
}

.nav-list {
  display: none;
  transition: 300ms ease;
}

.nav-item {
  margin-inline: 0.5em;
  display: flex;
  list-style: none;
  background-color: var(--link-background);
  padding: 0.3em 0.5em;
  border-radius: 50px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  align-self: center;
  color: var(--link-color);
}

.nav-theme,
.nav-toggle {
  display: flex;
  transform: rotate(180deg);
  transition: 300ms ease;
}

.nav-toggle {
  margin-inline: 0.4em;
}

.nav-theme {
  margin-left: 0.5em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

header,
section,
footer {
  height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin-inline: auto;
  position: relative;
}

.title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: clamp(1.5rem, 5vw, 2rem);
  padding: 0.1em 0.3em;
  color: var(--title-color);
  background-color: var(--title-background);
  position: relative;
}

.title::before {
  position: absolute;
  content: "";
  top: 4px;
  bottom: -4px;
  right: 4px;
  left: -4px;
  background-color: var(--title-background-before);
  z-index: -1;
}

.paragraph {
  margin-top: 1em;
  color: var(--section-desc-color);
  font-weight: 600;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

/* ======================
   == HELVETICA FAMILY ==
   ====================== */
h1,
h2,
h3 {
  font-family: "HELVETICA";
  text-transform: uppercase;
}

.hero-section {
  background-color: var(--background-color-accent);
  text-align: center;
  position: relative;
  z-index: -2;
  display: flex;
  height: 60vh;
}
.hero-section .container {
  align-self: center;
}
.hero-section .title {
  color: var(--title-color);
  font-size: clamp(2.5rem, 10vw, 4rem);
  margin-inline: auto;
}
.hero-section .title,
.hero-section .title::before {
  background-color: transparent;
}

.motto {
  margin-top: 1em;
  font-weight: 600;
  color: var(--title-color);
  width: 60%;
  margin: 1.2em auto 0;
  text-transform: uppercase;
  font-style: italic;
  font-size: clamp(1.3rem, 3vw, 1.7rem);
}

.sahabat,
.pnj {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  background-color: var(--hero-title-background);
  padding-inline: 0.2em;
  position: relative;
}

.pnj {
  color: var(--pnj-span-color);
  margin-top: 0.15em;
}

.sahabat::before,
.pnj::before {
  position: absolute;
  content: "";
  top: 5px;
  bottom: -5px;
  right: 5px;
  left: -5px;
  background-color: var(--hero-title-background-before);
  z-index: -1;
}

.about-section {
  display: flex;
  height: clamp(30vh, 47vw, 40vh);
}
.about-section .container {
  align-self: center;
}
.about-section .container .paragraph {
  line-height: 1.5;
}

@media (max-width: 320px) {
  .about-section {
    height: calc(75vh - 110vw);
  }
}
.organizer-section {
  height: 105vw;
  max-height: 576px;
  display: flex;
}
.organizer-section .container {
  display: flex;
  align-self: center;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}
.organizer-section .container::-webkit-scrollbar {
  display: none;
}
.organizer-section .slide {
  display: flex;
  position: relative;
  z-index: 0;
}
.organizer-section .slide + .slide {
  margin-left: 4vw;
}

.card + .card {
  margin-left: 4vw;
}

.card {
  padding-inline: 0.2em;
  width: 80vw;
  height: 95vw;
  max-width: 378px;
  max-height: 473px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.card .socmed-container {
  position: absolute;
  right: 15%;
  bottom: 10px;
}
.card .profile-picture {
  width: 90%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.7);
}

.name_and_role {
  position: absolute;
  bottom: 13px;
  color: var(--link-color);
  width: 90%;
  padding-left: 0.5em;
  z-index: 0;
}

.role {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 60%;
  color: var(--text-color-in-dark-bg);
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: clamp(1.3rem, 3vw, 1.7rem);
}

.name {
  background-color: var(--hero-title-background);
  color: var(--title-color);
  padding: 0.3em 0.5em;
  border-radius: 5px;
  margin-top: 0.4em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-weight: 600;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.socmed-link {
  display: flex;
  flex-direction: column;
}
.socmed-link img {
  width: clamp(30px, 7vw, 45px);
  margin-top: 0.7em;
  margin-bottom: 0.2em;
}

.slide:first-child .card:first-child {
  margin-left: 10vw;
}

.slide:last-child .card:last-child {
  margin-right: 3vw;
}

.division-section {
  height: auto;
  overflow: hidden;
}
.division-section .container {
  width: 300%;
  display: flex;
  overflow: hidden;
}
.division-section .slide {
  transition: 300ms ease;
  padding-inline: 1.5em;
}
.division-section .overview-sub-section .subject-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.division-section .overview-sub-section .subject-list .subject {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.3rem;
  font-weight: bolder;
  background-color: var(--section-shadow);
  margin-right: 1em;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 10px;
}
.division-section .senior-sub-section {
  margin-top: 3em;
}
.division-section .senior-sub-section .profile-box {
  background-color: var(--section-shadow);
  width: clamp(230px, 94%, 400px);
  margin-top: 2em;
  text-align: center;
  padding: 1em;
  border-radius: 20px;
}
.division-section .senior-sub-section .profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1em;
}
.division-section .senior-sub-section .name {
  text-transform: none;
  color: var(--section-desc-color);
  margin-top: 1em;
  font-weight: 600;
  width: 95%;
}
.division-section .projects {
  margin-top: 3em;
}
.division-section .projects .project-container {
  margin-top: 1em;
}
.division-section .projects .project-container .project + .project {
  margin-top: 1em;
}
.division-section .projects .project-container .project:last-child {
  display: flex;
  background-color: var(--link-background);
}
.division-section .projects .project-container .project:last-child .project-name {
  margin: auto;
  color: var(--link-color);
  font-size: clamp(1.3rem, 3vw, 1.7rem);
}
.division-section .projects .project-container .project {
  position: relative;
  min-height: 200px;
  display: flex;
  overflow: hidden;
}
.division-section .projects .project-container .project .project-img {
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.6);
}
.division-section .projects .project-container .project .project-text-content {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  text-align: left;
  padding-inline: 0.7em 0.5em;
  width: 100%;
}
.division-section .projects .project-container .project .project-text-content .project-name {
  color: var(--text-color-in-dark-bg);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 1px;
  font-size: clamp(1.3rem, 3vw, 1.7rem);
}
.division-section .projects .project-container .project .project-text-content .project-owner {
  font-size: clamp(1rem, 4vw, 1.5rem);
  text-align: center;
  margin-block: 0.5em 0.2em;
  color: var(--title-color);
  background-color: var(--hero-title-background);
  padding: 0.3em 0.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 50%;
  border-radius: 5px;
  position: relative;
  text-transform: none;
  font-family: "Montserrat", sans-serif;
}
.division-section .projects .project-container .project .project-text-content .detail-button {
  font-size: clamp(1rem, 4vw, 1.5rem);
  position: absolute;
  text-decoration: none;
  background-color: var(--card-button-background);
  color: var(--text-color-in-dark-bg);
  padding: 0.3em 0.7em;
  border-radius: 5px;
  font-weight: 600;
  border-radius: 20px;
  right: 9px;
  bottom: 0;
}
.division-section .projects .project-container .project-span-col-2 {
  grid-column: span 2;
}
.division-section .projects .project-container .project-span-row-2 {
  grid-column-start: 2;
  grid-row: 1/span 2;
}

.division-navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  display: flex;
  align-items: center;
  margin-block: 1.5em;
  margin-left: 4vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  background-color: var(--link-background);
  padding-block: 0.2em;
  z-index: 1;
}
.division-navigation .arrow-back {
  display: none;
  margin-left: 0.8em;
}
.division-navigation .arrow-forward {
  display: flex;
  align-self: center;
  margin-right: 0.8em;
}
.division-navigation .options {
  margin-inline: 0.8em;
  position: relative;
}
.division-navigation .options .option {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--link-color);
  font-size: clamp(1rem, 4vw, 1.5rem);
}
.division-navigation .options .option + .option {
  display: none;
}

.registration-gate-section {
  height: auto;
  background-color: var(--background-color-accent);
  position: relative;
  z-index: -2;
}
.registration-gate-section .registration-gate-container {
  min-height: 75vw;
  display: flex;
  width: 100%;
  position: relative;
}
.registration-gate-section .registration-gate-container .registration-gate-link {
  text-align: center;
  position: relative;
  margin: auto;
  background-color: var(--link-background);
  color: var(--link-color);
  padding-block: 0.4em;
  display: flex;
  align-items: center;
  width: clamp(200px, 75%, 300px);
  font-size: clamp(1.5rem, 5vw, 2rem);
}
.registration-gate-section .registration-gate-container .registration-gate-link::before {
  position: absolute;
  background-color: var(--link-background-before);
  content: "";
  top: -8px;
  bottom: -8px;
  right: 8px;
  left: 8px;
}
.registration-gate-section .registration-gate-container .logo-container {
  position: absolute;
  display: flex;
  z-index: -2;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.registration-gate-section .registration-gate-container .logo-container .logo-subject:first-child,
.registration-gate-section .registration-gate-container .logo-container .logo-subject:last-child {
  display: none;
}
.registration-gate-section .registration-gate-container .logo-container .logo-subject {
  width: clamp(250px, 50vw, 350px);
}

.contact-socmed {
  height: auto;
  padding-block: 2em;
}
.contact-socmed .form-container {
  margin-block: 1em;
}
.contact-socmed .form-container .form-data {
  position: relative;
  max-width: 500px;
}
.contact-socmed .form-container .form-data input,
.contact-socmed .form-container .form-data textarea {
  width: 60%;
  margin-block: 0.6em;
  resize: none;
  padding: 0.5em;
  font-size: clamp(1rem, 4vw, 1.5rem);
  border-radius: 4px;
  border: 1px solid var(--link-background-before);
  background-color: var(--background-color);
  transition: 200ms ease;
  font-family: inherit;
}
.contact-socmed .form-container .form-data input:focus,
.contact-socmed .form-container .form-data textarea:focus {
  width: 70%;
  outline: 1px solid var(--link-background);
  border: 1px solid var(--link-background);
  transition: 200ms ease;
}
.contact-socmed .form-container .form-data label {
  position: absolute;
  transform: translateY(90%);
  left: 5px;
  font-size: clamp(1rem, 4vw, 1.5rem);
  background-color: var(--background-color);
  padding-inline: 0.3em;
  transition: 200ms ease;
  font-weight: 600;
  color: var(--section-desc-color);
  border-radius: 50px;
}
.contact-socmed .form-container .form-data input:not(:-moz-placeholder-shown):not(:focus) ~ label, .contact-socmed .form-container .form-data textarea:not(:-moz-placeholder-shown):not(:focus) ~ label {
  -moz-transition: 200ms ease;
  transition: 200ms ease;
  font-size: clamp(0.7rem, 3vw, 1.2rem);
  transform: translateY(20%);
}
.contact-socmed .form-container .form-data input:not(:-ms-input-placeholder):not(:focus) ~ label, .contact-socmed .form-container .form-data textarea:not(:-ms-input-placeholder):not(:focus) ~ label {
  -ms-transition: 200ms ease;
  transition: 200ms ease;
  font-size: clamp(0.7rem, 3vw, 1.2rem);
  transform: translateY(20%);
}
.contact-socmed .form-container .form-data input:focus ~ label,
.contact-socmed .form-container .form-data input:not(:placeholder-shown):not(:focus) ~ label,
.contact-socmed .form-container .form-data textarea:not(:placeholder-shown):not(:focus) ~ label,
.contact-socmed .form-container .form-data textarea:focus ~ label {
  transition: 200ms ease;
  font-size: clamp(0.7rem, 3vw, 1.2rem);
  transform: translateY(20%);
}
.contact-socmed .socmed .socmed-container {
  margin-block: 1em;
}
.contact-socmed .socmed .socmed-container .socmed-link {
  margin-right: 1em;
}
.contact-socmed .socmed .socmed-container .socmed-link img {
  width: 50px;
}/*# sourceMappingURL=main.css.map */