@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --background-color: #effffd;
  --background-color-accent: #b8fff9;

  --hero-title-background: #7fffd6;
  --hero-title-background-before: #95efce;

  --title-color: #3e467f;
  --title-background: #1ee3cf;
  --title-background-before: #1f8ea3;

  --section-desc-color: #395ea6;
  --section-shadow: #d1ebe7;

  --link-color: #effffd;
  --link-background: #2ea1d9;
  --link-background-before: #42c2ff;

  --card-background: #2999b0;
  --card-title-background: #12efd9;
  --card-shadow: #12efd9;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}

header,
section,
footer {
  height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin-inline: auto;
  position: relative;
}

.section-title {
  width: fit-content;
  font-size: 1.5rem;
  padding: 0.1em 0.3em;
  color: var(--title-color);
  background-color: var(--title-background);
  position: relative;
  border-radius: 5px;
}

.section-title::before {
  position: absolute;
  content: '';
  top: 4px;
  bottom: -4px;
  right: 4px;
  left: -4px;
  background-color: var(--title-background-before);
  z-index: -1;
  border-radius: 5px;
}

.section-description {
  margin-top: 1em;
  color: var(--section-desc-color);
  font-weight: 600;
}

/* ======================
   == HELVETICA FAMILY ==
   ====================== */

h1,
h2,
h3 {
  font-family: 'HELVETICA';
  text-transform: uppercase;
}

/* ================
   == NAVIGATION ==
   ================ */

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  right: 2vw;
  top: 10px;
  padding: 0.3em 0.7em;
  border-radius: 100px;
  background-color: var(--background-color);
  z-index: 2;
  opacity: 0.8;

  .nav-list {
    display: none;
    transition: 300ms ease;

    .nav-item {
      margin-inline: 0.5em;
      display: flex;
      list-style: none;
      background-color: var(--link-background);
      padding: 0.3em 0.5em;
      border-radius: 50px;

      .nav-link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: bold;
        align-self: center;
        color: var(--link-color);
      }
    }
  }

  .nav-theme,
  .nav-toggle {
    display: flex;
    transform: rotate(180deg);
    transition: 300ms ease;
  }

  .nav-theme {
    margin-left: 0.5em;
  }
}

.nav:hover {
  opacity: 1;
}

/* ==================
   == HERO SECTION ==
   ================== */

.hero-section {
  background-color: var(--background-color-accent);
  text-align: center;
  position: relative;
  z-index: -2;
  display: flex;
  height: 60vh;

  .hero-container {
    align-self: center;

    .hero-title {
      color: var(--title-color);
      font-size: 2.5rem;
      margin-inline: auto;

      .sahabat,
      .pnj {
        display: block;
        width: fit-content;
        margin-inline: auto;
        background-color: var(--hero-title-background);
        padding-inline: 0.2em;
        position: relative;
        border-radius: 7px;
      }

      .pnj {
        color: var(--link-background-before);
        margin-top: 0.15em;
      }

      .sahabat::before,
      .pnj::before {
        position: absolute;
        content: '';
        top: 5px;
        bottom: -5px;
        right: 5px;
        left: -5px;
        border-radius: 7px;

        background-color: var(--hero-title-background-before);
        z-index: -1;
      }
    }

    .motto {
      margin-top: 1em;
      font-weight: 600;
      color: var(--title-color);
      width: 60%;
      margin: 1.2em auto 0;
      text-transform: uppercase;
      font-style: italic;
      font-size: 1rem;
    }
  }
}

/* ===================
   == ABOUT SECTION ==
   =================== */

.about-section {
  display: flex;
  height: 33vh;
  .about-container {
    align-self: center;

    .section-description {
      line-height: 1.5;
    }
  }
}

@media (max-width: 320px) {
  .about-section {
    height: calc(90vh - 110vw);
  }
}

/* ==================
   == TEAM SECTION ==
   ================== */

.team-section {
  background-color: var(--background-color-accent);
  height: 120vw;
  max-height: 576px;
  display: flex;

  .team-container {
    display: flex;
    align-self: center;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 98%;
  }

  .team-slide + .team-slide {
    margin-left: 2em;
  }

  .team-slide:first-child {
    .team-card:first-child {
      margin-left: 11vw;
    }
  }

  .team-slide:last-child {
    .team-card:last-child {
      margin-right: 5vw;
    }
  }

  .team-slide {
    display: flex;
    position: relative;
    z-index: 0;

    .team-card + .team-card {
      margin-left: 6.5vw;
    }

    .team-card {
      padding-inline: 0.2em;
      width: 80vw;
      height: 95vw;
      max-width: 378px;
      max-height: 473px;
      margin-inline: auto;
      display: flex;
      align-items: center;
      position: relative;

      .profile-description {
        position: absolute;
        bottom: 10px;
        color: var(--link-color);
        width: 90%;
        font-size: 1rem;
        padding-left: 0.5em;

        .name-card {
          font-size: 1.4rem;
          padding-left: 0.4em;
          width: fit-content;
          max-width: 60%;
          color: var(--background-color);
          font-weight: 600;
          letter-spacing: 1.3px;
        }

        .person-name {
          background-color: rgba(0, 0, 0, 0.3);
          padding: 0.4em 0.7em;
          border-radius: 20px;
          margin: 0.4em 0 0.2em;
          width: fit-content;
        }
      }

      .team-socmed {
        position: absolute;
        right: 45px;
        bottom: 10px;

        .socmed-link {
          display: flex;
          flex-direction: column;
          img {
            width: 30px;
            margin-top: 0.6em;
          }
        }
      }

      .profile-img {
        width: 90%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        filter: brightness(0.7);
      }
    }
  }
}

/* ======================
   == DIVISION SECTION ==
   ====================== */

.division-section {
  .division-selection {
    position: relative;
    display: flex;
    margin: 1.5em 0 0 1em;
    width: fit-content;
    border-radius: 50px;
    background-color: var(--link-background);
    align-items: center;
    padding-block: 0.1em;

    .back {
      display: none;
      transform: rotate(180deg);
    }

    .forward {
      display: flex;
      top: -1px;
      position: relative;
    }

    .option-container {
      align-items: center;
      position: relative;

      .option {
        list-style: none;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--link-color);
      }

      .option + .option {
        display: none;
      }

      .option:first-child {
        margin-left: 0.6em;
      }

      .option:last-child {
        margin-right: 0.6em;
      }
    }
  }

  // .division-selection::before {
  //   position: absolute;
  //   content: '';
  //   background-color: var(--section-desc-color);
  //   top: 1px;
  //   right: 1px;
  //   left: -3px;
  //   bottom: -4px;
  //   border-radius: 50px;
  //   z-index: -1;
  // }

  .division-container {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    padding-block: 1.5em;
    position: absolute;

    .division-slide {
      width: 98vw;
      position: relative;
      transition: 300ms ease;

      .slide-content + .slide-content {
        margin-top: 3em;
      }

      .slide-content {
        width: 98vw;
        margin-left: 1em;

        .section-paragraph,
        .short-review {
          font-size: 1rem;
          color: var(--section-desc-color);
          margin-top: 1em;
          font-weight: 600;
          width: 95%;
        }

        .subject-lesson {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;

          .subject {
            text-align: center;
            width: fit-content;
            font-size: 1.3rem;
            font-weight: bolder;
            background-color: var(--section-shadow);
            margin-right: 1em;
            margin-top: 1em;
            padding: 0.5em;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
