@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --background-color: #effffd;
  --background-color-accent: #b8fff9;

  --text-color-in-dark-bg: #effffd;
  --text-color-in-light-bg: black;

  --hero-title-background: #7fffd6;
  --hero-title-background-before: #95efce;
  --pnj-span-color: #00aeff;

  --title-color: #3e467f;
  --title-background: #1ee3cf;
  --title-background-before: #1f8ea3;

  --section-desc-color: #395ea6;
  --section-shadow: #d1ebe7;

  --link-color: #effffd;
  --link-background: #2ea1d9;
  --link-background-before: #42c2ff;

  --card-background: #2999b0;
  --card-title-background: #12efd9;
  --card-button-background: rgba(117, 117, 117, 0.3);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}

header,
section,
footer {
  height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin-inline: auto;
  position: relative;
}

.section-title {
  width: fit-content;
  font-size: 1.5rem;
  padding: 0.1em 0.3em;
  color: var(--title-color);
  background-color: var(--title-background);
  position: relative;
  border-radius: 5px;
}

.section-title::before {
  position: absolute;
  content: '';
  top: 4px;
  bottom: -4px;
  right: 4px;
  left: -4px;
  background-color: var(--title-background-before);
  z-index: -1;
  border-radius: 5px;
}

.section-description {
  margin-top: 1em;
  color: var(--section-desc-color);
  font-weight: 600;
}

/* ======================
   == HELVETICA FAMILY ==
   ====================== */

h1,
h2,
h3 {
  font-family: 'HELVETICA';
  text-transform: uppercase;
}

/* ================
   == NAVIGATION ==
   ================ */

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  right: 2vw;
  top: 10px;
  padding: 0.3em 0.7em;
  border-radius: 100px;
  background-color: var(--background-color);
  z-index: 2;
  opacity: 0.8;

  .nav-list {
    display: none;
    transition: 300ms ease;

    .nav-item {
      margin-inline: 0.5em;
      display: flex;
      list-style: none;
      background-color: var(--link-background);
      padding: 0.3em 0.5em;
      border-radius: 50px;

      .nav-link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: bold;
        align-self: center;
        color: var(--link-color);
      }
    }
  }

  .nav-theme,
  .nav-toggle {
    display: flex;
    transform: rotate(180deg);
    transition: 300ms ease;
  }

  .nav-theme {
    margin-left: 0.5em;
  }
}

.nav:hover {
  opacity: 1;
}

/* ==================
   == HERO SECTION ==
   ================== */

.hero-section {
  background-color: var(--background-color-accent);
  text-align: center;
  position: relative;
  z-index: -2;
  display: flex;
  height: 60vh;

  .hero-container {
    align-self: center;

    .hero-title {
      color: var(--title-color);
      font-size: 2.5rem;
      margin-inline: auto;

      .sahabat,
      .pnj {
        display: block;
        width: fit-content;
        margin-inline: auto;
        background-color: var(--hero-title-background);
        padding-inline: 0.2em;
        position: relative;
        border-radius: 7px;
      }

      .pnj {
        color: var(--pnj-span-color);
        margin-top: 0.15em;
      }

      .sahabat::before,
      .pnj::before {
        position: absolute;
        content: '';
        top: 5px;
        bottom: -5px;
        right: 5px;
        left: -5px;
        border-radius: 7px;

        background-color: var(--hero-title-background-before);
        z-index: -1;
      }
    }

    .motto {
      margin-top: 1em;
      font-weight: 600;
      color: var(--title-color);
      width: 60%;
      margin: 1.2em auto 0;
      text-transform: uppercase;
      font-style: italic;
      font-size: 1rem;
    }
  }
}

/* ===================
   == ABOUT SECTION ==
   =================== */

.about-section {
  display: flex;
  height: 27vh;

  .about-container {
    align-self: center;

    .section-description {
      line-height: 1.5;
    }
  }
}

@media (max-width: 320px) {
  .about-section {
    height: calc(75vh - 110vw);
  }
}

/* ==================
   == TEAM SECTION ==
   ================== */

.team-section {
  height: 105vw;
  max-height: 576px;
  display: flex;

  .team-container {
    display: flex;
    align-self: center;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
  }

  .team-container::-webkit-scrollbar {
    display: none;
  }

  .team-slide + .team-slide {
    margin-left: 2em;
  }

  .team-slide:first-child {
    .team-card:first-child {
      margin-left: 11vw;
    }
  }

  .team-slide:last-child {
    .team-card:last-child {
      margin-right: 5vw;
    }
  }

  .team-slide {
    display: flex;
    position: relative;
    z-index: 0;

    .team-card + .team-card {
      margin-left: 6.5vw;
    }

    .team-card {
      padding-inline: 0.2em;
      width: 80vw;
      height: 95vw;
      max-width: 378px;
      max-height: 473px;
      margin-inline: auto;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;

      .profile-description {
        position: absolute;
        bottom: 13px;
        color: var(--link-color);
        width: 90%;
        font-size: 1rem;
        padding-left: 0.5em;
        z-index: 0;

        .name-card {
          font-size: 1.4rem;
          width: fit-content;
          max-width: 60%;
          color: var(--text-color-in-dark-bg);
          font-weight: 600;
          letter-spacing: 1.5px;
        }

        .person-name {
          background-color: var(--hero-title-background);
          color: var(--title-color);
          padding: 0.3em 0.5em;
          border-radius: 5px;
          margin-top: 0.4em;
          width: fit-content;
          position: relative;
          font-weight: 600;
        }
      }

      .team-socmed {
        position: absolute;
        right: 45px;
        bottom: 10px;

        .socmed-link {
          display: flex;
          flex-direction: column;
          img {
            width: 30px;
            margin-top: 0.7em;
            margin-bottom: 0.2em;
          }
        }
      }

      .profile-img {
        width: 90%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(0.7);
      }
    }
  }
}

/* ======================
   == DIVISION SECTION ==
   ====================== */

.division-section {
  height: auto;

  .division-selection {
    display: flex;
    margin: 1.5em 0 0 0.7em;
    width: fit-content;
    border-radius: 50px;
    background-color: var(--link-background);
    align-items: center;
    padding-block: 0.1em;

    .back {
      display: none;
      transform: rotate(180deg);
    }

    .forward {
      display: flex;
      top: -1px;
      position: relative;
    }

    .option-container {
      align-items: center;
      position: relative;

      .option {
        list-style: none;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--link-color);
      }

      .option + .option {
        display: none;
      }

      .option:first-child {
        margin-left: 0.6em;
      }

      .option:last-child {
        margin-right: 0.6em;
      }
    }
  }

  .division-container {
    display: flex;
    overflow: hidden;
    width: 95vw;
    padding: 1.5em 0.3em;

    .division-slide {
      position: relative;
      transition: 300ms ease;
      margin: 0 auto;

      .slide-content {
        width: 98vw;

        .section-paragraph,
        .short-review {
          font-size: 1rem;
          color: var(--section-desc-color);
          margin-top: 1em;
          font-weight: 600;
          width: 95%;
        }

        .subject-lesson {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;

          .subject {
            text-align: center;
            width: fit-content;
            font-size: 1.3rem;
            font-weight: bolder;
            background-color: var(--section-shadow);
            margin-right: 1em;
            margin-top: 1em;
            padding: 0.5em;
            border-radius: 10px;
          }
        }
      }

      .slide-content + .slide-content {
        margin-top: 3em;
      }

      .slide-content:nth-child(2) {
        .section-content {
          background-color: var(--section-shadow);
          width: clamp(230px, 94%, 400px);
          margin-top: 2em;
          text-align: center;
          padding: 1em;
          border-radius: 20px;

          .instructor-profile {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-bottom: 1em;
          }

          .instructor-name {
            text-transform: none;
          }
        }
      }

      .projects {
        width: 94%;

        .project-container {
          margin-top: 1em;
          // display: grid;
          // grid-template-columns: repeat(2, 1fr);
          // gap: 6px;

          .project + .project {
            margin-top: 1em;
          }

          .project:last-child {
            display: flex;
            background-color: var(--link-background);

            .project-name {
              margin: auto;
              color: var(--link-color);
            }
          }

          .project {
            position: relative;
            min-height: 200px;
            display: flex;
            overflow: hidden;
            border-radius: 10px;

            .project-img {
              object-fit: cover;
              filter: brightness(0.6);
            }

            .project-text-content {
              position: absolute;
              z-index: 1;
              bottom: 10px;
              text-align: left;
              padding-inline: 0.7em 0.5em;
              width: 100%;

              .project-name {
                font-size: 1.2rem;
                color: var(--text-color-in-dark-bg);
                background-size: 100% 2px;
                background-repeat: no-repeat;
                background-position: left bottom;
                width: fit-content;
                letter-spacing: 1px;
              }

              .project-owner {
                font-size: 1rem;
                text-align: center;
                margin-block: 0.5em 0.2em;
                color: var(--title-color);
                background-color: var(--hero-title-background);
                padding: 0.3em 0.5em;
                width: fit-content;
                max-width: 50%;
                border-radius: 5px;
                position: relative;
                text-transform: none;
                font-family: 'Montserrat', sans-serif;
              }

              .detail-button {
                position: absolute;
                text-decoration: none;
                background-color: var(--card-button-background);
                color: var(--text-color-in-dark-bg);
                padding: 0.3em 0.7em;
                border-radius: 5px;
                font-weight: 600;
                border-radius: 20px;
                right: 9px;
                bottom: 0;
              }
            }
          }

          .project-span-col-2 {
            grid-column: span 2;
          }

          .project-span-row-2 {
            grid-column-start: 2;
            grid-row: 1 / span 2;
          }
        }
      }
    }
  }
}

/* ============================
   == REGISTRATION LINK GATE ==
   ============================ */

.registration-gate-section {
  height: auto;
  background-color: var(--background-color-accent);
  position: relative;
  z-index: -2;

  .registration-gate-container {
    min-height: 75vw;
    display: flex;
    width: 100%;
    position: relative;

    .registration-gate-link {
      text-align: center;
      position: relative;
      margin: auto;
      background-color: var(--link-background);
      color: var(--link-color);
      padding: 0.5em 1em;
      display: flex;
      align-items: center;
    }

    .registration-gate-link::before {
      position: absolute;
      background-color: var(--link-background-before);
      content: '';
      top: -5px;
      bottom: -5px;
      right: 5px;
      left: 5px;
    }

    .logo-container {
      position: absolute;
      display: flex;
      z-index: -2;
      width: 100%;
      height: 100%;
      justify-content: center;

      .logo-subject:first-child,
      .logo-subject:last-child {
        display: none;
      }

      .logo-subject {
        width: 60vw;
      }
    }
  }
}

/* ====================
   == FOOTER SECTION ==
   ==================== */

.contact-socmed {
  height: auto;
  padding-block: 2em;

  .form-container {
    margin-block: 1em;
    .form-data {
      position: relative;
      max-width: 350px;

      input,
      textarea {
        width: 60%;
        margin-block: 0.6em;
        resize: none;
        padding: 0.5em;
        font-size: 1rem;
        border-radius: 4px;
        border: 1px solid var(--link-background-before);
        background-color: var(--background-color);
        transition: 200ms ease;
        font-family: inherit;
      }

      input:focus,
      textarea:focus {
        width: 70%;
        outline: 1px solid var(--link-background);
        border: 1px solid var(--link-background);
        transition: 200ms ease;
      }

      label {
        position: absolute;
        top: 18px;
        left: 5px;
        font-size: 1rem;
        background-color: var(--background-color);
        padding-inline: 0.3em;
        transition: 200ms ease;
        font-weight: 600;
        color: var(--section-desc-color);
        border-radius: 50px;
      }

      input:focus ~ label,
      input:not(:placeholder-shown):not(:focus) ~ label,
      textarea:not(:placeholder-shown):not(:focus) ~ label,
      textarea:focus ~ label {
        transition: 200ms ease;
        font-size: 0.8rem;
        top: 2px;
      }
    }
  }

  .socmed {
    .socmed-container {
      margin-block: 1em;

      .socmed-link {
        margin-right: 1em;
        img {
          width: 50px;
        }
      }
    }
  }
}
