@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --hero-title-background: #7fffd6;
  --hero-title-background-before: #95efce;

  --background-color: #effffd;
  --background-color-accent: #b8fff9;

  --title-color: #3e467f;
  --title-background: #1ee3cf;
  --title-background-before: #1f8ea3;

  --section-desc-color: #395ea6;
  --section-shadow: #d1ebe7;

  --link-color: #effffd;
  --link-background: #2ea1d9;
  --link-background-before: #42c2ff;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}

header,
section,
footer {
  height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin-inline: auto;
  position: relative;
}

.section-title {
  width: fit-content;
  font-size: 1.5rem;
  padding: 0.1em 0.3em;
  color: var(--title-color);
  background-color: var(--title-background);
  position: relative;
  border-radius: 5px;
}

.section-title:before {
  position: absolute;
  content: '';
  top: 4px;
  bottom: -4px;
  right: -4px;
  left: 4px;
  background-color: var(--title-background-before);
  z-index: -1;
  border-radius: 5px;
}

.section-description {
  margin-top: 1em;
  color: var(--section-desc-color);
  font-weight: 600;
}

/* ======================
   == HELVETICA FAMILY ==
   ====================== */

h1,
h2,
h3 {
  font-family: 'HELVETICA';
  text-transform: uppercase;
}

/* ================
   == NAVIGATION ==
   ================ */

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  right: 10px;
  top: 10px;
  padding: 0.3em 0.7em;
  border-radius: 100px;
  background-color: var(--background-color);
  z-index: 2;
  opacity: 0.8;

  .nav-list {
    display: none;
    transition: 300ms ease;

    .nav-item {
      margin-inline: 0.5em;
      display: flex;
      list-style: none;
      background-color: var(--link-background);
      padding: 0.3em 0.5em;
      border-radius: 50px;

      .nav-link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: bold;
        align-self: center;
        color: var(--link-color);
      }
    }
  }

  .nav-theme,
  .nav-toggle {
    display: flex;
    transform: rotate(180deg);
    transition: 300ms ease;
  }

  .nav-theme {
    margin-left: 0.5em;
  }
}

.nav:hover {
  opacity: 1;
}

/* ==================
   == HERO SECTION ==
   ================== */

.hero-section {
  background-color: var(--background-color-accent);
  text-align: center;
  position: relative;
  z-index: -2;
  display: flex;
  height: 60vh;
  box-shadow: 0 3px 10px var(--section-shadow);
  border-radius: 0 0 0 60px;

  .hero-container {
    align-self: center;

    .hero-title {
      color: var(--title-color);
      font-size: 2.5rem;
      margin-inline: auto;

      .sahabat,
      .pnj {
        display: block;
        width: fit-content;
        margin-inline: auto;
        background-color: var(--hero-title-background);
        padding-inline: 0.2em;
        position: relative;
        border-radius: 7px;
      }

      .pnj {
        color: var(--link-background-before);
        margin-top: 0.15em;
      }

      .sahabat::before,
      .pnj::before {
        position: absolute;
        content: '';
        top: 5px;
        bottom: -5px;
        right: -5px;
        left: 5px;
        border-radius: 7px;

        background-color: var(--hero-title-background-before);
        z-index: -1;
      }
    }

    .motto {
      margin-top: 1em;
      font-weight: 600;
      color: var(--title-color);
      width: 60%;
      margin: 1.2em auto 0;
      text-transform: uppercase;
      font-style: italic;
      font-size: 1rem;
    }
  }
}

/* ===================
   == ABOUT SECTION ==
   =================== */

.about-section {
  display: flex;
  height: 33vh;

  .about-container {
    align-self: center;
  }
}

/* ==================
   == TEAM SECTION ==
   ================== */

.team-section {
  background-color: var(--background-color-accent);
  height: auto;
  box-shadow: 0 -3px 10px var(--section-shadow);
  padding-block: 3em;
  border-radius: 0 60px 0 0;

  .team-slide {
    .team-card + .team-card {
      margin-top: 3em;
    }

    .team-card {
      position: relative;
      background-color: var(--title-background);
      padding: 0.5em 0.7em 3em;
      width: 90%;
      height: 300px;
      margin-inline: auto;
      border-radius: 0 50px 0 0;

      .profile-img,
      .profile-desc,
      .name-card {
        position: absolute;
      }

      .name-card {
        position: absolute;
        background-color: var(--title-background-before);
        text-align: center;
        padding-block: 0.2em;
        right: -10px;
        left: -10px;
        bottom: 10px;
        color: var(--link-color);
        border-radius: 10px;
        z-index: 1;
      }

      .profile-desc {
        z-index: 1;
        bottom: 50px;
        left: 10px;
      }

      .profile-img {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 50px 0 0;
      }
    }
  }

  .team-slide + .team-slide {
    margin-top: 10em;
  }
}
