@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*::before,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --background-color: #effffd;
  --background-color-accent: #b8fff9;
  --hero-title-background: #7fffd6;
  --hero-title-background-before: #95efce;
  --title-color: #3e467f;
  --title-background: #1ee3cf;
  --title-background-before: #1f8ea3;
  --section-desc-color: #395ea6;
  --section-shadow: #d1ebe7;
  --link-color: #effffd;
  --link-background: #2ea1d9;
  --link-background-before: #42c2ff;
  --card-background: #2999b0;
  --card-title-background: #12efd9;
  --card-shadow: #12efd9;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}

header,
section,
footer {
  height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin-inline: auto;
  position: relative;
}

.section-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5rem;
  padding: 0.1em 0.3em;
  color: var(--title-color);
  background-color: var(--title-background);
  position: relative;
  border-radius: 5px;
}

.section-title::before {
  position: absolute;
  content: '';
  top: 4px;
  bottom: -4px;
  right: 4px;
  left: -4px;
  background-color: var(--title-background-before);
  z-index: -1;
  border-radius: 5px;
}

.section-description {
  margin-top: 1em;
  color: var(--section-desc-color);
  font-weight: 600;
}

/* ======================
   == HELVETICA FAMILY ==
   ====================== */
h1,
h2,
h3 {
  font-family: 'HELVETICA';
  text-transform: uppercase;
}

/* ================
   == NAVIGATION ==
   ================ */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 2vw;
  top: 10px;
  padding: 0.3em 0.7em;
  border-radius: 100px;
  background-color: var(--background-color);
  z-index: 2;
  opacity: 0.8;
}

.nav .nav-list {
  display: none;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.nav .nav-list .nav-item {
  margin-inline: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  background-color: var(--link-background);
  padding: 0.3em 0.5em;
  border-radius: 50px;
}

.nav .nav-list .nav-item .nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: var(--link-color);
}

.nav .nav-theme,
.nav .nav-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.nav .nav-theme {
  margin-left: 0.5em;
}

.nav:hover {
  opacity: 1;
}

/* ==================
   == HERO SECTION ==
   ================== */
.hero-section {
  background-color: var(--background-color-accent);
  text-align: center;
  position: relative;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
}

.hero-section .hero-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero-section .hero-container .hero-title {
  color: var(--title-color);
  font-size: 2.5rem;
  margin-inline: auto;
}

.hero-section .hero-container .hero-title .sahabat,
.hero-section .hero-container .hero-title .pnj {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  background-color: var(--hero-title-background);
  padding-inline: 0.2em;
  position: relative;
  border-radius: 7px;
}

.hero-section .hero-container .hero-title .pnj {
  color: var(--link-background-before);
  margin-top: 0.15em;
}

.hero-section .hero-container .hero-title .sahabat::before,
.hero-section .hero-container .hero-title .pnj::before {
  position: absolute;
  content: '';
  top: 5px;
  bottom: -5px;
  right: 5px;
  left: -5px;
  border-radius: 7px;
  background-color: var(--hero-title-background-before);
  z-index: -1;
}

.hero-section .hero-container .motto {
  margin-top: 1em;
  font-weight: 600;
  color: var(--title-color);
  width: 60%;
  margin: 1.2em auto 0;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1rem;
}

/* ===================
   == ABOUT SECTION ==
   =================== */
.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 33vh;
}

.about-section .about-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-section .about-container .section-description {
  line-height: 1.5;
}

@media (max-width: 320px) {
  .about-section {
    height: calc(90vh - 110vw);
  }
}

/* ==================
   == TEAM SECTION ==
   ================== */
.team-section {
  background-color: var(--background-color-accent);
  height: 120vw;
  max-height: 576px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1em;
}

.team-section .team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  overflow-x: scroll;
  padding-bottom: 1em;
  width: 98%;
}

.team-section .team-slide + .team-slide {
  margin-left: 2em;
}

.team-section .team-slide:first-child .team-card:first-child {
  margin-left: 5vw;
}

.team-section .team-slide:last-child .team-card:last-child {
  margin-right: 5vw;
}

.team-section .team-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-section .team-slide .team-card + .team-card {
  margin-left: 10vw;
}

.team-section .team-slide .team-card {
  position: relative;
  padding: 0.5em 0.7em 3em;
  width: 80vw;
  height: 95vw;
  max-width: 378px;
  max-height: 473px;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-section .team-slide .team-card .profile-description {
  position: relative;
  margin-top: 2em;
  z-index: 1;
  top: 10px;
  color: var(--link-color);
  background-color: var(--card-background);
  width: 90%;
  font-size: 4vw;
}

.team-section .team-slide .team-card .profile-description .name-card {
  position: absolute;
  background-color: var(--card-title-background);
  text-align: center;
  padding: 0.3em 0.2em;
  font-size: 1.4rem;
  right: -10px;
  left: -10px;
  bottom: 10px;
  color: var(--section-desc-color);
  font-weight: 600;
  z-index: 1;
}

.team-section .team-slide .team-card .profile-description .person-name {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.3em 0.7em;
  border-radius: 20px;
  margin-bottom: 0.2em;
}

.team-section .team-slide .team-card .profile-description .detail-button {
  color: var(--link-color);
  padding-inline: 0.7em;
  text-decoration: none;
}

.team-section .team-slide .team-card .profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

/* ======================
   == DIVISION SECTION ==
   ====================== */
.division-section .division-selection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5em 0 0 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  background-color: var(--link-background);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 0.1em;
}

.division-section .division-selection .back {
  display: none;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.division-section .division-selection .forward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -1px;
  position: relative;
}

.division-section .division-selection .option-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.division-section .division-selection .option-container .option {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--link-color);
}

.division-section .division-selection .option-container .option + .option {
  display: none;
}

.division-section .division-selection .option-container .option:first-child {
  margin-left: 0.6em;
}

.division-section .division-selection .option-container .option:last-child {
  margin-right: 0.6em;
}

.division-section .division-selection::before {
  position: absolute;
  content: '';
  background-color: var(--section-desc-color);
  top: 2px;
  right: 2px;
  left: -3px;
  bottom: -4px;
  border-radius: 50px;
  z-index: -1;
}

.division-section .division-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  width: 100%;
  padding-block: 1.5em;
  position: absolute;
}

.division-section .division-container .division-slide {
  width: 98vw;
  position: relative;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.division-section .division-container .division-slide .slide-content + .slide-content {
  margin-top: 3em;
}

.division-section .division-container .division-slide .slide-content {
  width: 98vw;
  margin-left: 1em;
}

.division-section .division-container .division-slide .slide-content .section-paragraph,
.division-section .division-container .division-slide .slide-content .short-review {
  font-size: 1rem;
  color: var(--section-desc-color);
  margin-top: 1em;
  font-weight: 600;
  width: 95%;
}

.division-section .division-container .division-slide .slide-content .subject-lesson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.division-section .division-container .division-slide .slide-content .subject-lesson .subject {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.3rem;
  font-weight: bolder;
  background-color: var(--section-shadow);
  margin-right: 1em;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */