@use 'font-size' as fs;
@use 'theme';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}

header,
section,
footer {
  height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin-inline: auto;
  position: relative;
}

.title {
  width: fit-content;
  font-size: fs.$large;
  padding: 0.1em 0.3em;
  color: var(--title-color);
  background-color: var(--title-background);
  position: relative;
}

.title::before {
  position: absolute;
  content: '';
  top: 4px;
  bottom: -4px;
  right: 4px;
  left: -4px;
  background-color: var(--title-background-before);
  z-index: -1;
}

.paragraph {
  margin-top: 1em;
  color: var(--section-desc-color);
  font-weight: 600;
  font-size: fs.$small;
  line-height: 1.5;
}

/* ======================
   == HELVETICA FAMILY ==
   ====================== */

h1,
h2,
h3 {
  font-family: 'HELVETICA';
  text-transform: uppercase;
}
