.light {
  --background-color: #effffd;
  --background-color-accent: #b8fff9;

  --text-color-in-dark-bg: #effffd;
  --text-color-in-light-bg: black;

  --hero-title-background: #7fffd6;
  --hero-title-background-before: #95efce;
  --pnj-span-color: #00aeff;

  --title-color: #3e467f;
  --title-background: #1ee3cf;
  --title-background-before: #1f8ea3;

  --section-desc-color: #395ea6;
  --section-shadow: #d1ebe7;

  --link-color: #effffd;
  --link-background: #2ea1d9;
  --link-background-before: #42c2ff;

  --card-background: #2999b0;
  --card-title-background: #12efd9;
  --card-name-background: rgba(117, 117, 117, 0.3);
}
