@use '../root/general';

.about-section {
  display: flex;
  height: clamp(30vh, 47vw, 40vh);

  .container {
    align-self: center;
  }
}

@media (max-width: 320px) {
  .about-section {
    height: calc(75vh - 110vw);
  }
}
