@use '../root/general';
@use '../root/font-size' as fs;

.division-navigation {
  position: sticky;
  top: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  margin-left: 4vw;
  width: fit-content;
  border-radius: 50px;
  background-color: var(--link-color);
  padding-block: 0.45em;
  z-index: 2;
  transition: 200ms ease;

  .arrow-nav {
    width: clamp(9px, 2vw, 12px);
    height: auto;
  }

  .arrow-back {
    display: none;
    margin-left: 0.8em;
  }

  .arrow-forward {
    display: flex;
    align-self: center;
    margin-right: 0.8em;
  }

  .options {
    margin-inline: 0.8em;
    position: relative;

    .option {
      list-style: none;
      text-transform: uppercase;
      font-weight: bold;
      color: var(--link-background);
      font-size: fs.$small;
    }

    .option + .option {
      display: none;
    }
  }
}

.division-section {
  padding-block: 2em;
  background-color: var(--background-color-accent);
  position: relative;
  z-index: 1;

  .container {
    overflow-x: hidden;
    width: 100%;
  }

  .overflowing-container {
    width: 300%;
    display: flex;
  }

  .slide {
    transition: 300ms ease;
    padding-inline: 1.5em;
    width: 100%;
  }
}

.overview-sub-section {
  .subject-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .subject {
    text-align: center;
    width: fit-content;
    font-size: 1.3rem;
    font-weight: bolder;
    background-color: var(--hero-title-background);
    color: var(--title-color);
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 10px;
  }

  .subject + .subject {
    margin-left: 1em;
  }
}

.senior-sub-section {
  margin-top: 3em;

  .profile-box {
    background-color: var(--hero-title-background-before);
    width: clamp(230px, 100%, 400px);
    margin-top: 2em;
    text-align: center;
    padding: 1em;
    border-radius: 20px;
  }

  .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid var(--card-name-background);
    margin-bottom: 1em;
  }

  .name {
    text-transform: none;
    background-color: transparent;
    font-weight: 600;
    margin-inline: auto;
    font-size: fs.$medium;
  }

  .name,
  .paragraph {
    color: var(--card-background);
  }
}

// PROJECT SECTION

.project-sub-section {
  margin-top: 3em;

  .grid-container {
    margin-top: 2.5em;

    .grid-span-col-2 {
      grid-column: span 2;
    }

    .grid-span-row-2 {
      grid-column-start: 2;
      grid-row: 1 / span 2;
    }
  }
}

.project-img {
  object-fit: cover;
  filter: brightness(0.6);
}

.project-name {
  color: var(--text-color-in-dark-bg);
  width: fit-content;
  letter-spacing: 1px;
  font-size: fs.$medium;
}

.project-item {
  position: relative;
  min-height: 200px;
  display: flex;
  overflow: hidden;
  margin-top: 1em;
  border-radius: 15px;
}

.project-item:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--link-background);
}

.project-text-content {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  text-align: left;
  padding-inline: 0.7em 0.5em;
  width: 100%;

  .name {
    max-width: 55%;
  }

  .detail-button {
    font-size: fs.$small;
    position: absolute;
    text-decoration: none;
    background-color: var(--link-background);
    color: var(--link-color);
    padding: 0.3em 0.7em;
    border-radius: 5px;
    font-weight: 600;
    border-radius: 20px;
    right: 9px;
    bottom: 0;
  }
}

@media (min-width: 600px) {
  .division-navigation {
    margin-inline: auto;
  }

  .sub-section {
    width: 85%;
    max-width: 450px;
    margin-inline: auto;
    margin: 0;
  }

  .division-section {
    .slide {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 3em;
    }

    .title,
    .profile-box,
    .paragraph {
      margin-inline: auto;
      text-align: center;
    }

    .subject-list {
      justify-content: center;
    }

    .project-sub-section {
      width: 100%;
      max-width: 900px;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 6px;
    }
  }

  .project-item {
    margin: 0;
  }

  .project-text-content {
    .name,
    .detail-button {
      font-size: fs.$extra-small;
    }

    .name {
      width: fit-content;
    }
  }

  .project-name {
    font-size: fs.$small;
  }
}

@media (min-width: 768px) {
  .sub-section {
    width: 50%;
  }
}
